

/* Background */
.nftmax-bg-cover{
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.close-icon {
	text-align: center;
	min-width: 25px;
	cursor: pointer;
	display: block;
	line-height: initial;
	position: relative;
}
.nftmax-smenu {
	position: fixed;
	left: 0;
	z-index: 6000;
	height: 100%;
	transition: all 0.3s ease;
	width: 335px;
	transform: translateX(0%);
	box-shadow: 0 9px 95px 0 #0000000d;
}
.nftmax-smenu.nftmax-close {
	width: 70px;
}
.nftmax-smenu, .nftmax-adashboard, .nftmax-header {
	transition: all 0.4s;
}
.nftmax-logo__icon {
	max-width: 40px;
	opacity: 0;
	visibility: hidden;
	width: 0;
}

.nftmax-smenu.nftmax-close .nftmax-logo__icon{
	width:100%;
	opacity:1;
	visibility:visible;
}

.nftmax-smenu.nftmax-close .logo a,.nftmax-smenu.nftmax-close .menu-bar__name,.nftmax-smenu.nftmax-close .menu-bar__count,.nftmax-smenu.nftmax-close .admin-menu__title   {
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	display:none;
}


.nftmax-smenu.nftmax-close .logo {
	justify-content: center;
	margin: 0 20px 20px;
}
.nftmax-smenu  .menu-bar__count{
	transition:all 0.3s ease;
}
.nftmax-smenu.nftmax-close .primary {
	background: transparent !important;
	padding: 0 5px;
	margin: 0;
	display: flex;
	justify-content: center;
}
.nftmax-smenu.nftmax-close .nftmax__toggle {
	position: relative;
	margin: 0;
}
.nftmax-smenu.nftmax-close .admin-menu {
	padding: 0;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.nftmax-smenu.nftmax-close .admin-menu__two.mg-top-50 {
	margin-top: 30px;
}
.nftmax-smenu.nftmax-close .nftmax-menu-icon{
	margin:0;
}
.nftmax-smenu.nftmax-close .logo-button__icon {
	border-color: #5356FB;
	width: 44px;
	height: 44px;
	line-height: 44px;
}
.admin-menu::-webkit-scrollbar {
    display: none;
}
.nftmax-header,.nftmax-adashboard {
	padding-left: 363px;
	padding-right: 70px;
}
.nftmax-adashboard {
	width: 100%;
	padding-bottom: 50px;
}
.nftmax-adashboard.nftmax-close, .nftmax-header.nftmax-close {
	padding-left: 5%;
}
.nftmax-smenu.nftmax-close .nftmax__sicon i::before {
	content: "\f0c9";
}
.nftmax-smenu.nftmax-close .menu-bar li,.nftmax-smenu.nftmax-close .admin-menu__title {
	text-align: center;
}
.nftmax-smenu.nftmax-close .menu-bar li {
	margin-top: 7px;
}
.nftmax-smenu.nftmax-close .menu-bar li a {
	padding: 12px 0px;
}

@media only screen and (min-width: 1279px) and (max-width: 1550px) {
	.nftmax-adashboard.nftmax-close, .nftmax-header.nftmax-close {
		padding-left: 7%;
	}
}

@media only screen and (min-width: 0px) and (max-width: 1278px) {
	.nftmax-smenu {
		width: 280px !important;
		transform: translateX(-100%);
	}
	.nftmax-smenu .nftmax-logo__icon{
		width:100%;
		opacity:1;
		visibility:visible;
	}

	.nftmax-smenu .nftmax-logo__main {

	}
	.nftmax-smenu .menu-bar__name {
		
	}
	.nftmax-smenu .menu-bar__count {
		right: -30px;
	}
	.nftmax-smenu .admin-menu {
		padding: 15px 15px;
		padding-top:30px;
	}
	.nftmax-smenu.nftmax-close {
		transform: translatex(0%);
	}
	.nftmax-header{
		border-bottom: 1px solid rgba(83, 86, 251, 0.16);
		background-color: rgba(239,237,254,.6);
		backdrop-filter: blur(4px);
	}
	.nftmax-header .nftmax-header__inner {
		border:none;
		background:none;
		backdrop-filter: inherit;
	}
	.close-icon{
		display:block !important;
	}
	.nftmax-adashboard,.nftmax-header {
		padding-left: 25px;
		padding-right: 25px;
	}
	.nftmax-adashboard.nftmax-close, .nftmax-header.nftmax-close {
		padding-left: 25px;
	}
	.nftmax-smenu.nftmax-close .close-icon {
		right: 0;
		border-radius: 0;
		top: 0;
	}
	.nftmax-smenu.nftmax-close .logo a, .nftmax-smenu.nftmax-close .menu-bar__name, .nftmax-smenu.nftmax-close .menu-bar__count, .nftmax-smenu.nftmax-close .admin-menu__title {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
		display: inline;
	}
	.nftmax-smenu.nftmax-close .menu-bar li, .nftmax-smenu.nftmax-close .admin-menu__title {
		text-align: left;
		padding: 0 20px;
		display: block;
	}
	.nftmax-smenu.nftmax-close .menu-bar__name{
		display:inline-block;
	}
	.nftmax-smenu.nftmax-close .nftmax-menu-icon {
		margin-right:14px !important;
	}
	.nftmax-smenu.nftmax-close .primary {
		justify-content: center;
		padding: 5px 10px;
		background: #5356FB;
		border-radius: 50px;
		color: #fff;
		display: flex;
		align-items: center;
		gap: 12px;
		font-size: 20px;
		margin: 0 20px;
		padding: 8px 20px 8px 8px;
		padding: 0;
	}
	.nftmax-smenu.nftmax-close .logo {
		justify-content: space-between;
	}

	.nftmax-main__sidebar {
		padding-left: calc(var(--bs-gutter-x) * .5);
	}
}




@media only screen and (min-width: 0px) and (max-width: 767px) {
	.nftmax-adashboard, .nftmax-header,.nftmax-adashboard.nftmax-close,.nftmax-header.nftmax-close {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.nftmax-flex__center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nftmax-flex__space {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nftmax-bg__cover{
	background-size:cover;
	background-position:relative;
	background-repeat:no-repeat;
}